{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if upload_success %}
    <div class="alert alert-info" role="alert">
        {{ upload_success }}
    </div>
    {% endif %}
    <div class="row">
        <div class="jumbotron">
            <h3>Welcome to the Xbox-DB</h3><p>Log in with your Github account to upload files.</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Xbe file info upload</div>
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data" action="/upload">
                {% csrf_token %}
                <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" style="display: none;" name="file">
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
                <label class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        Upload <span class="glyphicon glyphicon-upload"></span>
                    </button>
                </label>

            </div>
            <span class="help-block">
                Choose a zip file with Xbe dumps, a Xbe dump, or *.xbe.
            </span>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });

});

</script>
{% endblock %}